.h-full {
  height: 100%;
}
.w-full {
  width: 100%;
}
.w-screen {
  width: 100vw;
}
.min-w-screen {
  min-width: 100vw;
}
.max-w-screen {
  max-width: 100vw;
}
.max-w-content {
  max-width: max-content;
}
