// STYLING
.bg-white {
  background-color: #fff;
}
.bg-black {
  background-color: #000;
}
.bg-test {
  background: hotpink;
}
.text-white {
  color: #fff;
}
.border-r-1 {
  border-right: 1px solid black;
}
.border-b-1 {
  border-bottom: 1px solid black;
}
.border-b-1-white {
  border-bottom: 1px solid white;
}
.opacity-100 {
  opacity: 1;
}
.opacity-90 {
  opacity: 0.9;
}
.opacity-80 {
  opacity: 0.8;
}
.opacity-70 {
  opacity: 0.7;
}
.opacity-60 {
  opacity: 0.6;
}
.opacity-50 {
  opacity: 0.5;
}
.opacity-40 {
  opacity: 0.4;
}
.opacity-30 {
  opacity: 0.3;
}
.opacity-20 {
  opacity: 0.2;
}
.opacity-10 {
  opacity: 0.1;
}
.opacity-00 {
  opacity: 0;
}
