.faz-mal {
  .content {
    padding: 5px 0;
    min-height: 100vh;
    margin-top: -10vh;
    .big-title {
      text-align: center;
      font-size: 7.6vw;
      margin-bottom: 2.5rem;
    }
    p {
      padding-left: 30vw;
    }
  }
}
