.faz-mal {
  .content {
    min-height: 100vh;
    margin-top: -10vh;
    .big-title {
      font-size: 7.4vw;
      margin-bottom: 1.5rem;
    }
    .monument-name {
      font-size: 12.4vw;
      margin-bottom: 1.5rem;
    }

    .body p {
      padding-left: 30vw;
    }
  }
}
