.faz-mal {
  .content {
    padding: 5px 0;
    margin-top: -5.5vw;
    .big-title {
      text-align: center;
      font-size: 7.6vw;
      margin-bottom: 2.5rem;
    }
    p {
      padding-left: 30vw;
    }
  }
}
