@font-face {
  font-family: "NeueBit";
  src: url("/fonts/NeueBit-Bold.otf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Alegreya";
  src: url("/fonts/AlegreyaSans-Bold.otf");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Alegreya";
  src: url("/fonts/AlegreyaSans-BoldItalic.otf");
  font-style: italic;
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Alegreya";
  src: url("/fonts/AlegreyaSans-Light.otf");
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "Alegreya";
  src: url("/fonts/AlegreyaSans-LightItalic.otf");
  font-style: italic;
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "Alegreya";
  src: url("/fonts/AlegreyaSans-Italic.otf");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Alegreya";
  src: url("/fonts/AlegreyaSans-Regular.otf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
