html,
body,
#__next {
  height: 100%;
  width: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
table {
  width: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Alegreya, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
button {
  padding: 0;
}

.menu {
  font-family: NeueBit;
  font-size: 2.5rem;
  li {
    margin-bottom: 5px;
    cursor: pointer;
  }
  button {
    text-align: left;
    font-family: NeueBit;
    font-size: 2.5rem;
    cursor: pointer;
  }
}
.bonus-track {
  .big-title {
    font-size: 10vw;
    margin-top: 5px;
    @include respond(mobile) {
      font-size: 17vw;
    }
  }
}

.loader-svg {
  animation: 2s linear infinite svg-animation;
  max-width: 100px;
  circle {
    animation: 1.4s ease-in-out infinite both circle-animation;
    display: block;
    fill: transparent;
    stroke: #fff;
    stroke-linecap: round;
    stroke-dasharray: 283;
    stroke-dashoffset: 280;
    stroke-width: 10px;
    transform-origin: 50% 50%;
  }
}
